/** Utility Classes */

/*! Basic Stylesheet for Discord-like Layout */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
        width: 100%;
        margin: 0 auto;
}

.border-basic{
    border-style: dashed;
    border-width: 1px;
}

.border-black{
        border-color: black;
}

.border-white{
        border-color: white;
}

.navbar,
.nav-links,
.slide-container,
.news-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! Color Palette */

.bluscuro {
    background-color: rgb(0, 0, 140);
}

.ocra {
    background-color: rgb(217, 165, 33);
}

.azzurro{
        background-color:rgb(172, 215, 230);
}

.orchidea {
    background-color: rgb(237, 130, 237);
}

.bianco {
    background-color: rgb(255, 255, 255);
}

.grigio {
    background-color: rgb(212, 212, 212);
}

.rosa {
    background-color: rgb(255, 191, 202);
}

.bluesky {
    background-color: rgb(31, 143, 255);
}

.verde{
    background-color: rgb(34, 140, 34);
}

.fucile{
    background-color: rgb(34, 38, 41);
}

.acquamarina{
    background-color: rgb(32, 179, 171);
}

.salmone{
    background-color: rgb(240, 127, 127);
}

.verdepastello{
    background-color: rgb(128, 255, 212);
}

.nero {
    background-color: rgb(0, 0, 0);
}

.ceruleo {
    background-color: rgb(143, 163, 227)
}

.font-white {
    color: white;
}
.font-black {
    color: black;
}

/*! Stili testo */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Whitney', sans-serif;
    color: black;
    margin-bottom: 10px;
}

p, a, span, li, button {
    font-family: 'Whitney', sans-serif;
    color: black;
    line-height: 1.5;
    margin-bottom: 15px;
}

.text-shadow-0-1rem {
    text-shadow: 0.1rem 1rem 2rem rgba(0, 0, 0, 0.3)
}

/*! Stile pulsanti */

.button-basic {
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*! Grid System */

.col-40 {
    width: 40%;
}

.col-22 {
    width: 22%;
}

.col-62{
    width: 62%;
}

/*! Spacer Utility */

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flex{
    display: flex;
    gap: 1rem;
}

.spacer {
    height: 2px;
    background-color: white;
}

.justify-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.justify-around {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.gap-1rem {
    gap: 1rem;
}

.gap-2rem {
    gap: 2rem;
}

/** Fine Utility Classes */

/*! Header Styles */

.jumbotron {
    background: url('../img/jumbo.png') no-repeat center center / cover;
}


.header-background { /* Colore di sfondo semi-trasparente */
    padding: 10px 0; /* Spaziatura interna */
}

.nav-container {
        width: 62%;
        margin: 0.8rem auto;
        padding: 0;
        font-size: 0.8rem;
}

.logo {
    flex: 1;
    flex-grow: 2;
}

.logo,
.nav-links,
.login {
    padding: 4px 8px;
}

.nav-links {
    list-style: none;
    flex: 2;
    flex-grow: 7;
    justify-content: center;
    gap: 5rem;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.login {
    flex: 3;
    flex-grow: 2;
    text-align: right;
}

.login a {
    text-decoration: none;
    color: black;
}

/* Font style per header */

h2.catchy{
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px; 
    text-align: center;
}

p.subtitle{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 25px; 
    text-align: center;
    line-break: auto;
    text-align: justify;
}

/*! Onde Decorative */

.wave {
    width: 100%;
    height: 1rem;
    display: block;
    mask: url("../img/wave.svg") repeat center / contain;
    padding: 2rem 0 0;
}

.wave-reverse{
    transform: rotate(180deg) scale(-1, 1);
}

/*! Main Styles */

.slide-container {
    padding: 20px 0;
    font-size: 0.8rem;
}

.slideshow {
        width: 48%;
}

.news-item {
    padding: 20px 0; 
}

.news-content.col-22 {
   padding: 0 3rem;
}

/* Font styles for main content */

h3.news-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px; 
}

.stars{
    display: inline-block;
    background: url('../img/stars.svg') no-repeat center center;
    background-size: contain;
    padding: 0.75rem 3.5rem;
    font-size: 2rem;    
}


/*! Accordion Styles */

.footer-accordion {
    padding: 10px 0 20px 0;
}

.accordion {
  display: flex;
  height: 300px;
  margin: auto;
}

.accordion input {
    display: none;
}

/* pannelli chiusi = 1 unità */
.panel {
    flex: 1 1 0;
    background-color: rgb(32, 179, 171);
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed white;
    transition: flex 0.3s ease, background 0.3s ease, color 0.3s ease;
}

/* pannello aperto = 2 unità */
.accordion input:checked + .panel {
    flex: 2 1 0;
    background-color: rgb(240, 127, 127);
    color: white;
    border-color: black;
    margin: 0 1px 0 0;
}

/*! Footer Styles */

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 10px 0;
}

.footer-labels {
    padding: 6px 14px;
    background-color: rgb(255, 181, 192);
    display: inline-flex;
    align-items: center;
}

.footer-padding {
    padding: 10px 0 30px 0;
}